/config/*
/stats/*
/templates/*
/rest-server
/o-rest-server
/setup-code.txt
/*-linux-arm64
/*-linux-amd64
/*-darwin-arm64
/*-darwin-amd64
/pkg/rest/static/
/*.pid
/secrets/*
/webapp/.vite/
/docs-build
.DS_Store
/*.sha256
/pkg/configmanager/resources/*
/pkg/rest/resources/*
/provisioning/whitelist.pkr.hcl
.env
