[Unit]
Description=vpn configmanager
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
ExecStart=/vpn/configmanager
WorkingDirectory=/vpn
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
